{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/scss/chatbot.css">
{% endblock %}

{% block body %}
    <div class="chatbot-header">
        <h1 class="section-title">
            <span class="title-text">Chatbot</span>
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="svg-icon"
                 viewBox="0 0 24 24" fill="currentColor" role="presentation">
                <path d="M5.622.631A2.153 2.153 0 0 0 5 2.147c0 .568.224 1.113.622 1.515l8.249 8.34-8.25 8.34a2.16 2.16 0 0 0-.548 2.07c.196.74.768 1.317 1.499 1.515a2.104 2.104 0 0 0 2.048-.555l9.758-9.866a2.153 2.153 0 0 0 0-3.03L8.62.61C7.812-.207 6.45-.207 5.622.63z"></path>
            </svg>
        </h1>
    </div>
    <div class="chatgpt-container">
        <p class="chatbot-intro">Ask our chatbot for recommendations or opinions about video games.</p>
        <textarea name="prompt" placeholder="Message ChatGPT" rows="1"></textarea>
        <div class="d-flex justify-content-end">
            <button>Send your question!</button>
        </div>
    </div>
    <div class="chatgpt-container powered-by-container">
        <h3>Powered by: IES Portada Alta & ChatGPT Api</h3>
    </div>

    <script type="module" src="/js/chatbot/main.js"></script>
{% endblock %}
