body {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.card {
  margin-top: 50px;
}

.card-header {

  background-color: #5B21B6;
}

.btn-primary {
  color: black;
  background-color: #FFC107;
  border-color: #FFC107;
}

.btn-primary:hover {
  color: black;
  background-color: #b28415;
  border-color: #b28415;
}

.form-text {
  margin-top: 10px;
}

label {
  display: inline-block;
  width: 150px; /* Ajusta este valor según tus necesidades */
  padding-top: 15px;
  margin-right: 10px;
}

.reset-passwd-btn {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}